/*-------- HomeView --------*/

.HomeView {
    display: flex;
    flex-wrap: wrap;
    background-color: #DEEEF7;
    margin-bottom: 5em;
}

/*--------- SearchBar ----------*/

.SearchBar {
    background-color: #7F8D7C;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1em;
    font-size: 16px;
    margin-top: -1em;
}

.searchbar-input {
    width: 200px;
    background-color: whitesmoke;
    padding: 0.25em;
    color: #7F8D7C;
    border: 2px solid whitesmoke;
    border-radius: 0.25em;
    margin: 0em 0.25em;
    font-size: 16px;
    box-shadow: 0em 0.25em 0.5em rgb(75, 75, 75);
}

.searchbar-submit, .searchbar-clear {
    background-color: #7F8D7C;
    color: whitesmoke;
    padding: 0.25em;
    margin: 0.25em;
    border: 2px solid whitesmoke;
    border-radius: 0.25em;
    box-shadow: 0em 0.25em 0.5em rgb(75, 75, 75);
    font-size: 16px;
}

.searchbar-submit:hover, .searchbar-clear:hover {
    color: #7F8D7C;
    background-color: whitesmoke;
}

/*-------- ProjectCard ----------*/

.ProjectCard {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    border: 2px solid #7F8D7C;
    border-radius: 0.5em;
    max-width: 13em;
    margin: 1em;
    box-shadow: 0 1em 1em rgb(130, 130, 130);
}

.ProjectCard:hover {
    background-color: #F8EEDD;
}

.card-title {
    margin: 0em auto;
    padding: 0.5em 0em;
}

.card-image {
    width: 10em;
    height: 10em;
    margin: 0em auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-heading {
    padding: 1em;
    margin: 0.1em auto;
}

.ProjectCard img {
    max-width: 10em;
    max-height: 10em;
    overflow: hidden;
}

.horizontal-line {
    width: 10em;
    color: #7F8D7C;
    border: 2px solid #7F8D7C;
}

.card-body {
    justify-self: baseline;
}

.heading-div {
    height: 6em;
}

/*----- Mobile ------*/

@media only screen and (max-width: 415px) {
    .HomeView {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .ProjectCard {
        margin: 1em auto;
        max-width: 90%;
    }

    .horizontal-line {
        width: 85%;
    }
}